<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" *ngIf="!isReadyToUploadImage">
                <h4 class="card-title">Form Add New Product</h4>
                <h6 class="card-subtitle">This is the form Add new Product for Admin
                </h6>
                <form #productForm="ngForm">
                    <div [hidden]="productForm.submitted">

                        <div class="form-group">
                            <label for="ID">ID</label>
                            <input id="ID" name="ID" class="form-control" type ="number"  readonly>

                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" name="name" class="form-control" required minlength="3" maxlength="50" [(ngModel)]="newProduct.proName" #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors.required"> Name is required. </div>
                                <div *ngIf="name.errors.minlength"> Name must be at least 3 characters long. </div>
                                <div *ngIf="name.errors.maxlength"> Name can not greater than 50 characters long. </div>
                                <!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input id="Description" name="Description" class="form-control" required minlength="10" maxlength="50" [(ngModel)]="newProduct.proDes" #des="ngModel">
                            <div *ngIf="des.invalid && (des.dirty || des.touched)" class="alert alert-danger">
                                <div *ngIf="des.errors.required"> Description is required. </div>
                                <div *ngIf="des.errors.minlength"> Description must be at least 10 characters long. </div>
                                <div *ngIf="des.errors.maxlength"> Description can not greater than 50 characters long. </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="Price">Price</label>
                                <div class="form-control">
                                  <input style="border:none" id="Price" name="Price" class="form-control" required type="number" pattern="([1-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|[1-8][0-9]{3}|9[0-8][0-9]{2}|99[0-8][0-9]|999[0-9]|10000)" [(ngModel)]="newProduct.proPrice" #prices ="ngModel">
                                  <div *ngIf="prices.invalid && (prices.dirty || prices.touched)" class="alert alert-danger">
                                      <div *ngIf="prices.errors.required"> Price is required. </div>
                                      <div *ngIf="prices.errors.pattern"> Price must be greater than 0 and less than 10000 </div>
                                      <!-- <div *ngIf="prices.errors.max"> Description can not greater than 10000. </div> -->
                                  </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="Color">Color</label>
                                <div class="form-control">
                                  <input style="border:none" id="Color" name="Color" class="form-control" required minlength="2" maxlength="20" [(ngModel)]="newProduct.proColor" #Color="ngModel">
                                  <div *ngIf="Color.invalid && (Color.dirty || Color.touched)" class="alert alert-danger">
                                      <div *ngIf="Color.errors.required"> Color is required. </div>
                                      <div *ngIf="Color.errors.minlength"> Color must be at least 2 characters long. </div>
                                      <div *ngIf="Color.errors.maxlength"> Color can not greater than 20 characters long. </div>
                                      <!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
                                  </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">

                                  <label for="status" style="margin-left:10px;">Status</label>
                                  <div class="form-control">
                                    <input id="status" name="status" type="checkbox" [(ngModel)]="newProduct.status" style="margin-left:10px;">
                                    <span class="btn btn-success" *ngIf="newProduct.status" style="margin-left:10px;" >Activated</span>
                                    <span class="btn btn-dark" *ngIf="!newProduct.status" style="margin-left:10px;">Deactivated</span>
                                </div>
                            </div>
                          </div>

                        </div>

                        <div class="form-group">
                            <label for="cateID">CateID</label>
                            <div class="form-control">
                              <select class="form-control" name ="listCate" required  [(ngModel)]="cateTemp" (ngModelChange)="setSelectedCategory($event)"  #cate="ngModel">
          												<option id="abc" value="undefined" hidden>Select Category</option>
          												<option *ngFor="let cate of listCategory" [ngValue]="cate.cateID" >
          														{{cate.cateName}}
          												</option>
          										</select>
                              <div *ngIf="cate.invalid && (cate.dirty || cate.touched)" class="alert alert-danger">
                                  <div *ngIf="cate.errors.required"> Cate is required. </div>
                              </div>
                            </div>
                        </div>


                        <button type="submit" (click)="createProductInfo()" class="btn btn-info btn-rounded" [disabled]="productForm.invalid">Create New</button>
                        <button type="button" class="btn btn-inverse btn-rounded" (click)="productForm.resetForm({})">Reset</button>

                    </div>
                </form>
            </div>
            <div class="card-body" *ngIf="isReadyToUploadImage">
              <label>Upload Image</label>
                <div class="form-control">
                  <ngx-file-picker [adapter]="adapter" [enableCropper]="false" (uploadSuccess)="oneFileUploadSuccess($event)">
                  </ngx-file-picker>
                </div>
            </div>
        </div>
    </div>
</div>
