<div class="section bgi-cover-center" data-background="assets/images/dummy-img-1920x900-2.jpg">
  <div class="content-wrap">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading text-center text-primary mb-4">
            What Customer's Say
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">
          <div id="testimonial">
            <!-- Item 1 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="assets/images/dummy-img-400x400.jpg" alt="" class="rounded-circle">
                  </div>
                  <blockquote class="text-black">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <p class="quote-name">
                    Johnathan Doel <span>Businessman</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="assets/images/dummy-img-400x400.jpg" alt="" class="rounded-circle">
                  </div>
                  <blockquote class="text-black">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <p class="quote-name">
                    Johnathan Doel <span>CEO Buka Kreasi</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="assets/images/dummy-img-400x400.jpg" alt="" class="rounded-circle">
                  </div>
                  <blockquote class="text-black">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <p class="quote-name">
                    Johnathan Doel <span>Businessman</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Item 4 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="assets/images/dummy-img-400x400.jpg" alt="" class="rounded-circle">
                  </div>
                  <blockquote class="text-black">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <p class="quote-name">
                    Johnathan Doel <span>CEO Buka Kreasi</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
