<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="title-heading text-primary mb-5">
							Register Form
						</p>
						<p class="subheading">Please enter your name, your email address, date of birth and phone number.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-8">

						<form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" [(ngModel)]="Name" name="UserName" id="p_name" placeholder="Enter Name" required="">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" id="p_email" name="Mail" [(ngModel)]="Mail" placeholder="Enter Email" required="">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" name="dateofbirth" id="p_subject" [(ngModel)]="DOB" placeholder="DoB">
										<owl-date-time #dt1></owl-date-time>
										<!-- <div class="help-block with-errors"></div> -->
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="p_phone" name="phone" [(ngModel)]="Telephone" placeholder="Enter Phone Number">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div id="success"></div>
								<button type="submit" class="btn btn-primary" (click)="registerNewUser()">Submit</button>
							</div>
						</form>
						<div class="margin-bottom-50"></div>

					</div>
					<div class="col-sm-4 col-md-4">
						<img src="images/dummy-img-600x700.jpg" alt="" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
