<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap" [class.forUpdateMode]="isInUpdateMode">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12" [class.disableFunction]="isReadyToUploadImage">
						<p class="title-heading text-primary mb-5" *ngIf="!isInUpdateMode">
							Add New Pet
						</p>
						<p class="subheading" *ngIf="!isInUpdateMode">Please fill information in this form then upload your pet's image</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-6" [class.disableFunction]="isReadyToUploadImage">

						<!-- <form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true"> -->
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Pet Name" required="" [(ngModel)]="newPet.petName">
										<div class="help-block with-errors"></div>
									</div>
								</div>
                <div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Pet Breed" required="" [(ngModel)]="newPet.petBreed">
										<div class="help-block with-errors"></div>
									</div>
								</div>
                <div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date of Birth" class="form-control" [(ngModel)]="newPet.petDOB">
										<owl-date-time #dt1></owl-date-time>
									</div>
								</div>
                <div class="col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="Dating price" required="" [(ngModel)]="newPet.petPrice">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <hr>
                <div class="col-sm-6 col-md-6">
									<div class="form-group">
                    <label>Ready for Dating: </label>
                    <input type="checkbox" value="Yes" name="ready" checked [(ngModel)]="newPet.petDating" style="margin-left:10px">
										<!-- CSS lable nam trong create-pet.component.css -->
										<span class="label label-ready" *ngIf="newPet.petDating">Ready</span>
										<span class="label label-notReady" *ngIf="!newPet.petDating">Not Yet</span>

									</div>
								</div>
                <hr>
                <div class="col-sm-6 col-md-6">
									<div class="form-group">
                    <label>Gender: </label>
										<select [(ngModel)]="newPet.petGender" style="margin-left:5px" [value]="'Male'">
									      <option *ngFor="let gender of genderList" [value]="gender" >
														{{gender}}
												</option>
										</select>
									</div>
								</div>




							</div>
							<div class="form-group">
								 <textarea id="p_message" class="form-control" rows="6" placeholder="Enter Your Pet's Story" [(ngModel)]="newPet.petStory"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<div id="success"></div>
								<button type="button" (click)="createPetInfo()" class="btn btn-primary" *ngIf="!isInUpdateMode">{{buttonTitle}}</button>
							</div>
						<!-- </form> -->

			</div>
      <div class="col-sm-4 col-md-6 " [class.disableFunction]="!isReadyToUploadImage && !isInUpdateMode">
					<p class="title-heading text-primary mb-5" *ngIf="!isInUpdateMode">Now Upload Your Pet Image</p>
						<p class="title-heading text-primary mb-5" *ngIf="isInUpdateMode">Upload More Image</p>

          <!-- upload Image Section here -->
          <app-upload [finalUrl]='uploadUrl' [requestHeader]='jwtHeader'></app-upload>

          <!-- This section use to test ID after Add Info -->

          <!-- <input [(ngModel)]="inputID" placeholder="inputID"/>
          <div (click)='sendID()'>
            abc
          </div> -->
      </div>
		</div>
	</div>
