<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{currentPet.petName}}</h3>
                <h6 class="card-subtitle">{{currentPet.petBreed}}</h6>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="white-box text-center">
                            <img src="assets/images/shop2.jpg" class="img-fluid"> </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h4 class="box-title m-t-40">Pet description</h4>
                        <p>{{currentPet.petBreed}}</p>
                        <h2 class="m-t-40">${{currentPet.petPrice}}
                            <small class="text-success">{{currentPet.petBreed}}</small>
                        </h2>
                        <button class="btn btn-dark btn-rounded m-r-5" data-toggle="tooltip" title="" data-original-title="Add to cart">
                            Delete Pet
                        </button>
                        <a class="btn btn-primary btn-rounded" style ="color:white;" href="#/ecom/updatePet/{{currentPet.petID}}"> Update </a>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">General Info</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>

                                    <tr>
                                        <td>DOB</td>
                                        <td>{{currentPet.petDOB}} </td>
                                    </tr>
                                    <tr>
                                        <td>Breed</td>
                                        <td>{{currentPet.petBreed}}</td>
                                    </tr>
                                    <tr>
                                        <td>Price</td>
                                        <td> {{currentPet.petPrice}} </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
