<div class="section">
  <div class="content-wrap content-wrap-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading text-center text-primary no-after mb-5">
            Our Awards
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#">
              <img src="assets/images/client1.png" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#"><img src="assets/images/client2.png" alt="" class="img-fluid"></a>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#"><img src="assets/images/client3.png" alt="" class="img-fluid"></a>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#"><img src="assets/images/client4.png" alt="" class="img-fluid"></a>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#"><img src="assets/images/client5.png" alt="" class="img-fluid"></a>
          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-2">
          <div class="client-img">
            <a href="#"><img src="assets/images/client6.png" alt="" class="img-fluid"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
