<div class="header header-1">

<!-- TOP BAR -->
  <div class="topbar d-none d-md-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 col-md-6">
        <p class="mb-0">Welcome to The Pet Paradise</p>
      </div>

      <!-- <div class="col-sm-6 col-md-6">
        <div class="sosmed-icon d-inline-flex pull-right">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div> -->


    </div>
  </div>
</div>

<!-- MIDDLE BAR -->
<div class="middlebar d-none d-sm-block">
  <div class="container">


    <div class="contact-info">
      <!-- INFO 1 -->
      <div class="box-icon-1">
        <div class="icon">
          <div class="fa fa-clock-o"></div>
        </div>
        <div class="body-content">
          <div class="heading">Open Hours :</div>
          Mon - Sat : 08:00 - 21:00
        </div>
      </div>
      <!-- INFO 2 -->
      <div class="box-icon-1">
        <div class="icon">
          <div class="fa fa-phone"></div>
        </div>
        <div class="body-content">
          <div class="heading">Call Today :</div>
          +62 7100 1234
        </div>
      </div>

    </div>
  </div>
</div>

<!-- NAVBAR SECTION -->
<app-navbar-section [amountOfOrderDetail]="totalOrder"></app-navbar-section>


</div>
