<div id="class" class="">
		<div class="content-wrap" style="padding:0px;">
			<div class="container" >

				<div class="row">

					<div class="col-12 col-sm-6 col-md-6">

						<div class="media-detail">
							<img src="http://localhost:8080/ServicePRJ-web/WebResources/uploadedFiles/Pet/{{currentID}}/{{listImage[0]}}" alt="" class="img-fluid">
						</div>
						<div class="row mt-3">
							<div class="row popup-gallery gutter-5">
								<div class="col petImg" *ngFor='let image of listImage' >
									<a href="http://localhost:8080/ServicePRJ-web/WebResources/uploadedFiles/Pet/{{currentID}}/{{image}}" title='{{currentPet.petName}}'>
										<img src="http://localhost:8080/ServicePRJ-web/WebResources/uploadedFiles/Pet/{{currentID}}/{{image}}" alt="" class="border-img img-fluid">
									</a>
								</div>
							</div>
						</div>

					</div>


					<div class="col-12 col-sm-6 col-md-6">
						<div class="single-shop">

							<p class="title-heading text-secondary mb-1">
								{{currentPet.petName}}
							</p>
							<div class="price">Dating: ${{currentPet.petPrice}}</div>
							<div class="price">
								{{currentPet.petBreed}}
							</div>

							<p class="mt-4">{{currentPet.petStory}}</p>
						</div>

						<div class="spacer"></div>
						<div class="leave-comment-box" >
								<form action="#" class="form-comment">
									<h4 class="title-heading"> Request A Dating</h4>
									<div class="row">


										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Location" [(ngModel)]="currentDating.datingLocation">
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [min]="min" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Date/Time" [(ngModel)]="currentDating.datingDate">
												<owl-date-time  #dt1></owl-date-time>
											</div>
										</div>
										<div class="col-xs-12 col-md-12">
											<div class="form-group">
												<button id="send" type="submit" class="btn btn-primary" (click)="sendRequestDating(currentDating)">Send Dating Request</button>
											</div>
										</div>
									</div>
								</form>
						</div>



					</div>

					<div class="col-12 col-sm-12 col-md-12">


						<div class="spacer-70"></div>

						<div class="rs-tabs">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">MinMin</a>
							  </li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<!-- Tabs 1 -->
								<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
									<p class="uk18 text-black mb-1">
										<strong>About {{currentPet.petName}} :</strong>
									</p>
									<ul>
										<li *ngFor="let item of listInfo">{{item}}</li>
									</ul>
								</div>

							</div>
						</div>
						<!-- end tabs -->
						<!-- <div id="requestDating"></div>
						<div class="leave-comment-box" >
							<h4 class="title-heading">Request Dating</h4>
							<div class="row">
								<div class="col-sm-9 col-md-9">
									<form action="#" class="form-comment">
										<div class="row">

											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Location" [(ngModel)]="currentDating.datingLocation">
												</div>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<input type="text" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Date/Time" [(ngModel)]="currentDating.datingDate">
													<owl-date-time #dt1></owl-date-time>
												</div>
											</div>
											<div class="col-xs-12 col-md-12">
												<div class="form-group">
													<button id="send" type="submit" class="btn btn-primary">Send Dating Request</button>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>


						</div> -->


						<!-- end leave comment -->

						<!-- end leave comment -->

					</div>


				</div>

			</div>
		</div>
	</div>
