<!-- CONTENT -->
	<!-- <div id="class" class="">
		<div class="content-wrap">
			<div class="container" >

				<div class="row"  >

					<!-- Item 1 -->
					<!-- <div class="col-12 col-sm-6 col-md-3" *ngFor="let item of listCategory">
  						<div class="rs-image-box">
      							<div class="media">
      								<a href="#"><img src="http://localhost:9090/uploadedFiles/Category/{{item.cateID}}/{{item.listImage[0]}}"  alt="" class="img-fluid"></a>
      							</div>
      							<div class="body-text"> -->
      								<!-- <h3 class="title"><a href="#">{{item.cateName}}</a></h3> -->
      								<!-- We stock many of pet products to help you find the best formula and flavor available for your furry family member. -->
      							<!-- </div>
  						</div>
					</div> -->

					<ul class="category-nav" *ngFor="let item of listCategory">
						<li><a (click)="OnSelectedCate(item.cateID)" >{{item.cateName}}</a></li>
					</ul>
