.myDiv {
  background-image: url("http://localhost:9090/assets/Dating.jpg");
  /* opacity: 0.7; */
}

.rs-box-testimony .quote-box .media img{
  width: 200px;
  height: 200px;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
  /* opacity: 1; */
}

.myTitle{
  color: #6610f2;
}
