<div class="section bgi-cover-center myDiv" >
  <div class="content-wrap">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading text-center text-primary mb-4">
            What a nice Couple
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">

            <!-- Item 1 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="http://localhost:9090/uploadedFiles/Pet/{{ID_urlImg1}}" alt="" class="rounded-circle petImg">
                    <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i>
                    <img src="http://localhost:9090/uploadedFiles/Pet/{{ID_urlImg2}}" alt="" class="rounded-circle petImg">
                  </div>

                  <blockquote class="text-black">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <p class="quote-name">
                    Johnathan Doel <span>Businessman</span>
                  </p>
                </div>
              </div>
            </div>

          <
        </div>

      </div>
    </div>
  </div>
</div>
