<div class="section bgi-cover-center myDiv" >
  <div class="content-wrap" style="padding-top:20px">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12">
          <h1 class="section-heading text-center text-primary mb-4 myTitle">
            How's a nice Couple
          </h1>
          <h3 class="subheading text-center" style="color:white">Wish you have perfect time together</h3>
        </div>

      </div>
      <div class="spacer-50">

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1">

            <!-- Item 1 -->
            <div class="item">
              <div class="rs-box-testimony">
                <div class="quote-box">
                  <div class="media">
                    <img src="http://localhost:9090/uploadedFiles/Pet/{{ID_urlImg1}}" alt="" class="rounded-circle petImg">
                    <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i>
                    <img src="http://localhost:9090/uploadedFiles/Pet/{{ID_urlImg2}}" alt="" class="rounded-circle petImg">
                  </div>

                  <blockquote class="text-black" style="opacity:0">
                   Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam
                  </blockquote>
                  <!-- <p class="quote-name">
                    Pet Paradise
                  </p>                   -->
                  <h3 class="btn btn-primary"><span >Send Request</span></h3>
                </div>
              </div>
            </div>

          <
        </div>

      </div>
    </div>
  </div>
</div>
