<div class="navbar-main">
  <div class="container">
      <nav id="navbar-example" class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="index.html">
        <img src="http://localhost:9090/uploadedFiles/userUI/logo.png" alt="" />
      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav customNav">
                <!-- HOME -->
                <li class="nav-item addPadding">
                    <a class="nav-link" [routerLink]="['/mainlayout/home']">HOME</a>
                </li>

                <!-- ABOUT US -->
                <li class="nav-item addPadding">
                    <a class="nav-link" [routerLink]="['/mainlayout/aboutus']">ABOUT US</a>
                </li>

                <!-- DATING -->
                <li class="nav-item dropdown dmenu addPadding">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DATING
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/mainlayout/listDating']">Pet Dating</a>
                        <a class="dropdown-item" [routerLink]="['/mainlayout/createPet']">Join Pet Dating Club</a>
                        <a class="dropdown-item" [routerLink]="['/mainlayout/listPet']">My Pet</a>

                      </div>
              </li>

              <!-- SERVICES -->
              <li class="nav-item dropdown dmenu addPadding">

                      <a class="nav-link" [routerLink]="['/mainlayout/services']" role="button"  aria-haspopup="true" aria-expanded="false">
                        SERVICES
                      </a>
                      <!-- <div class="dropdown-menu">
                        <a class="dropdown-item" href="page-faq.html">Grooming</a>
                        <a class="dropdown-item" href="page-our-staff.html">Pet Care</a>
                        <a class="dropdown-item" href="page-single-staff.html">Pet Hotel</a>
                        <a class="dropdown-item" href="page-appointment-form.html">Appointment Form</a>
                      </div> -->
              </li>

              <!-- GALLERY -->

              <!-- SHOP -->
              <li class="nav-item dropdown dmenu addPadding">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/mainlayout/shops']">SHOP</a>
                        <a class="dropdown-item" [routerLink]="['/mainlayout/TopSeller']">Top Seller</a>
                      </div>
              </li>
              <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/mainlayout/cart']">MY CART
                        <span class="spanBox totalOrder">
                          {{amountOfOrderDetail}}
                        </span>
                      </a>
              </li>
              <li class="nav-item addPadding">
                      <a class="nav-link" [routerLink]="['/mainlayout/myorder']">MY ORDERS</a>
              </li>

              <!-- REGISTER/LOGIN -->
              <li class="nav-item dropdown dmenu addPadding" *ngIf="!isLogin">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REGISTER/LOGIN
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/mainlayout/register']">REGISTER</a>
                        <a class="dropdown-item" [routerLink]="['/mainlayout/login']">LOGIN</a>
                      </div>

              </li>



              <li class="nav-item addPadding">
                <a class="nav-link"  *ngIf="isLogin" (click)="logOut()" [routerLink]="['/mainlayout/login']" >LOG OUT</a>
                </li>
              </ul>
              <!-- <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">GET AN APPOINTMENT</a> -->
          </div>
      </nav> <!-- -->

  </div>
</div>
