
<!-- CONTENT -->
<div id="class" class="">
  <div class="content-wrap">
    <div class="container">

      <div class="row">

        <div class="col-12 col-sm-3 col-md-3">
          <!-- search -->
          <div class="widget categories">
							<div class="widget-title">
									Search
									<span class="fa fa-search"></span>
							</div>
							<div class="category-nav">
								<form class="form-contact">
									<input class="form-control" type="text" placeholder="Search Name Product"/>
								</form>
							</div>
							<div class="widget-title">
								Filter
							</div>
							<ul class="category-nav">

								<li>
									<hr>
								</li>

								<li>
									<a href="#">Price <span id="demo" style="color: #F7941D"></span></a>
									<div class="slidecontainer">
									  <input type="range" min="1" max="10" value="5" step="1" class="slider" id="myRange">
									</div>
								</li>

							</ul>
						</div>



          <div class="widget categories">
            <div class="widget-title">
              Galleries
            </div>
            <ul class="category-nav">
              <li><a href="#">Foods</a></li>
              <li><a href="#">Toys</a></li>
              <li><a href="#">Outfits</a></li>
            </ul>
          </div>

          <div class="widget widget-text">
            <div class="widget-title">
              Top Seller
            </div>
            <div class="shop-sidebar">
              <!-- Item 1 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller1.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Leather Belt</a></h4>
                  <div class="price">$12</div>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller2.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Traveller Carrier</a></h4>
                  <div class="price">$59</div>
                </div>
              </div>
              <!-- Item 3 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller3.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Healthy Food</a></h4>
                  <div class="price">$79</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end sidebar -->

        <div class="col-12 col-sm-9 col-md-9">

          <div class="row">
            <!-- Item 1 -->
            <div class="col-sm-4 col-md-4" *ngFor='let item of listProduct'>
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <!-- nho sua cho nay do style thay doi heigh cua img -->
                  <a href="/productsingle/{{item.proID}}"><img src="http://localhost:9090/uploadedFiles/Product/{{item.proID}}/1.jpg" alt="" class="img-fluid" style="height:250px"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">{{item.proName}}</a></h4>
                  <div class="meta">
                    <div class="price">${{item.proPrice}}</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- end shop -->

          <div class="row">
            <div class="col-sm-12 col-md-12">

              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>

            </div>
          </div>



        </div>

      </div>

    </div>
  </div>
</div>
