/* add css from assest admin */
@import url("../../../assets/admin/main.css");
@import url("../../../assets/admin/themes.css");
@import url("../../../assets/admin/plugins.css");
@import url("../../../assets/admin/bootstrap.css");

.btn-primary {
  background-color:#ffc107;
}

.btn-primary:hover{
    background-color: #f2b149;
}

.label-primary{
  background-color: #ffc107;
}

#page-content {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.changeQty{
  margin-left: 10px;
  margin-right: 10px;
  color:#ffc107;

}

.changeQty:hover{
  color: #999999;

}
