.label {
  padding: 5px;
  border-radius: 2px;
  margin-left: 5px;
}
.label-ready {
  background-color: #F7941D;
  color: #007bff;
}

.label-notReady {
  background-color: #999999 ;
  color: white;
}

.disableFunction {
  pointer-events: none;
  opacity: 0.2;
}

.forUpdateMode{
  padding-bottom: 10px;
}

.checkbox-control{
  padding:10px 0;
}

.uploader-wrapper {
  position: relative;
  width: 100vw;
  height: 80vh;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}
