<div class="comments-box" >
							<h4 class="title-heading">Answer <span>(3)</span></h4>

							<div class="media comment" *ngFor="let answer of listAnswer">
								<img class="mr-3" alt="80x80" src="http://localhost:9090/uploadedFiles/Pet/{{answer.petRecieveEntity.petID}}/{{answer.petRecieveEntity.petListImage[0]}}"
                        style="width: 64px; height: 64px;"/>
								<div class="media-body">
									<h5 class="media-heading mt-0 mb-1">{{answer.petRecieveEntity.petName}}<small class="date">{{answer.datingDate}} - {{answer.datingLocation}}</small>
	                                </h5>
							      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
							    </div>
              </div>





						</div>
