.myImage {
  width:100px;
  height:100px;
  object-fit: cover;
}


.datingLabel {
  padding: 5px;
  border-radius: 2px;
  margin-left: 5px;
  float:right;
}
.label-accepted {
  /* background-color: #F7941D;
  color: #007bff; */
  border-color: white;
}

.label-notAccepted {
  /* background-color: #999999 ;
  color: white; */
}



.acceptedDating {
  background-color: green;
}

.rs-accordion .card .btn.collapsed.acceptedDating {
  background-color: green;
}
.rs-accordion .card .btn.acceptedDating {
  background-color: green;
}
.rs-accordion .card .btn {
  background-color: #F7941D;
}




.heart {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}

.heart:hover {
  background-position:right;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

.liked{
  background-position:right;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
