<!-- <div class="col-sm-3 col-md-3">
								<h2 class="section-heading text-primary no-after mb-4">
									What We Do
								</h2> -->

								<div class="accordion rs-accordion" id="accordionExample">

								   <!-- Item 1 -->
								   <div class="card" *ngFor="let dating of listDating; let $i = index">
								      <div class="card-header" [attr.id]="'heading' + $i">
								         <h3 class="title">
								            <button class="btn btn-link" [class.collapsed]="$i != 0 " type="button"
																	data-toggle="collapse" [attr.data-target]="'#collapse' + $i" aria-expanded="true"
																				[attr.aria-controls]="'collapse' + $i" (click)="sendCurrentDating(dating)" [class.acceptedDating]="dating.isAccepted">
								                  #{{$i + 1}} - {{dating.petRequestEntity.petName}}
																	<span *ngIf="dating.isAccepted"  class="datingLabel label-accepted"><strong>Accepted</strong></span>
																	<span *ngIf="!dating.isAccepted" class="datingLabel label-notAccepted"><strong>Waiting</strong></span>

								            </button>

								         </h3>

								      </div>
								      <div [attr.id]="'collapse' + $i" class="collapse"   [attr.aria-labelledby]="'heading' + $i" data-parent="#accordionExample">
								         <div class="card-body">
													 <div class="media media-review" *ngIf="dating.petRequestEntity.userEntity.listUserImage">
														 <img src="http://localhost:9090/uploadedFiles/User/{{dating.petRequestEntity.userEntity.userID}}/{{dating.petRequestEntity.userEntity.listUserImage[0]}}"
														 					alt="" class="img-fluid mr-3">
														 <div class="media-body">
															 <div class="rating-for d-inline ml-1"><strong>{{dating.petRequestEntity.petBreed}}</strong></div>
															 <div class="rating-by mb-3">from <span class="text-primary">{{dating.petRequestEntity.userEntity.userName}}</span></div>

														 </div>
														 <div class="heart" (click)="heartClicked($i)" [class.is_animating]="dating.isAccepted" [class.liked]="dating.isAccepted"></div>
													 </div>


								         </div>
								      </div>
								   </div>



								</div>
								<!-- end accordion -->

							<!-- </div> -->
