<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="title-heading text-primary mb-5" [class.hideElement]="!isLogined" >
							Login Success
						</p>
						<p class="title-heading text-primary mb-5" [class.hideElement]="isLogined">
							Login Form
						</p>
						<p class="subheading">Login Guide</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-8">




							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group" [class.disableFunction]="isRecievedCode">
										<input type="text" class="form-control" pattern="(03[2|3|4|5|6|7|8|9]|05[6|8|9]|07[0|6|7|8|9]|08[6|9|1|2|3|4|5|8]|09[6|7|8|0|3|1|4|2|9])+([0-9]{7})\b" placeholder="Enter Phone" required="" [(ngModel)]="phone" #phoneModel="ngModel">
										<div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)" class="alert alert-danger">
													<div *ngIf="phoneModel.errors.required"> Please enter your phone number. </div>
													<div *ngIf="phoneModel.errors.pattern"> Please enter a correct phone number. </div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6" [class.disableFunction]="!isRecievedCode">
									<div class="form-group">
										<input type="text" class="form-control" pattern="[a-zA-Z0-9]{6}" placeholder="Enter Your SMS code" required="" [(ngModel)]="pass" name="code" #codeSMS="ngModel">
										<div *ngIf="codeSMS.invalid && (codeSMS.dirty || codeSMS.touched)" class="alert alert-danger">
													<div *ngIf="codeSMS.errors.required"> Please enter your SMS code. </div>
													<div *ngIf="codeSMS.errors.pattern"> Code contain 6 symbol of A-Z a-z 0-9 </div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-md-6" [class.disableFunction]="isRecievedCode">
									<div class="form-group" >
										<div id="success"></div>
											<button type="button" (click)="getCode()" class="btn btn-primary" [class.disableFunction]="phoneModel.invalid" >GetCode</button>
									</div>
								</div>

								<div class="col-sm-6 col-md-6" [class.disableFunction]="!isRecievedCode">
									<div class="form-group">
										<div id="success"></div>
										<button type="button" (click)="login()" class="btn btn-primary">Login</button>
									</div>
								</div>
							</div>


					</div>
					<!-- Hinh anh cua user -->
					<div class="col-sm-4 col-md-4" [class.hideElement]="!isRecievedCode">
						<img src="http://localhost:9090/uploadedFiles/User/{{currentID}}/{{listImage[0]}}" alt="" class="img-fluid">
					</div>

				</div>

				<!-- this is Temporal Login Form for Developer -->
				<hr>
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<p class="title-heading text-primary mb-5" >
							Temporal Login for Dev
						</p>
						<!-- <form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true"> -->
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group" >
										<input type="text" class="form-control" placeholder="Enter Phone" required="" [(ngModel)]="phone">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6" >
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Enter Your SMS code" required="" [(ngModel)]="pass">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-md-6" >
									<div class="form-group" >
										<div id="success"></div>
										<button type="button" (click)="getCode()" class="btn btn-primary" [class.disableFunction]="phoneModel.invalid" >GetCode</button>
									</div>
								</div>

								<div class="col-sm-6 col-md-6" >
									<div class="form-group">
										<div id="success"></div>
										<button type="button" (click)="login()" class="btn btn-primary" >Login</button>
									</div>
								</div>
							</div>
						<!-- </form> -->
					</div>
				</div>


			</div>
		</div>
	</div>
