<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="title-heading text-primary mb-5" [class.hideElement]="!isLogined" >
							Login Success
						</p>
						<p class="title-heading text-primary mb-5" [class.hideElement]="isLogined">
							Login Form
						</p>
						<p class="subheading">Login Guide</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 col-md-8">

						<!-- <form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true"> -->
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group" [class.disableFunction]="isRecievedCode">
										<input type="text" class="form-control" placeholder="Enter Phone" required="" [(ngModel)]="phone">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6" [class.disableFunction]="!isRecievedCode">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Enter Your SMS code" required="" [(ngModel)]="pass">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-md-6" [class.disableFunction]="isRecievedCode">
									<div class="form-group" >
										<div id="success"></div>
										<button type="button" (click)="getCode()" class="btn btn-primary" >GetCode</button>
									</div>
								</div>

								<div class="col-sm-6 col-md-6" [class.disableFunction]="!isRecievedCode">
									<div class="form-group">
										<div id="success"></div>
										<button type="button" (click)="login()" class="btn btn-primary" >Login</button>
									</div>
								</div>
							</div>
						<!-- </form> -->

					</div>
					<div class="col-sm-4 col-md-4">
						<img src="http://localhost:9090/uploadedFiles/User/{{currentID}}" alt="" class="img-fluid">
					</div>
				</div>

				<!-- this is Temporal Login Form for Developer -->
				<hr>
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<p class="title-heading text-primary mb-5" >
							Temporal Login for Dev
						</p>
						<!-- <form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true"> -->
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<div class="form-group" >
										<input type="text" class="form-control" placeholder="Enter Phone" required="" [(ngModel)]="phone">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6" >
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Enter Your SMS code" required="" [(ngModel)]="pass">
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-md-6" >
									<div class="form-group" >
										<div id="success"></div>
										<button type="button" (click)="getCode()" class="btn btn-primary" >GetCode</button>
									</div>
								</div>

								<div class="col-sm-6 col-md-6" >
									<div class="form-group">
										<div id="success"></div>
										<button type="button" (click)="login()" class="btn btn-primary" >Login</button>
									</div>
								</div>
							</div>
						<!-- </form> -->
					</div>
				</div>


			</div>
		</div>
	</div>
