<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h5 class="card-title">About Service</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Service Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="{{edit.serName}}"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label>Status</label>
                                    <br/>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" [(ngModel)]="edit.status" [value]=true name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1" >Available</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" [(ngModel)]="edit.status" [value]=false name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline2">Unavailable</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Short Description</label>
                                    <textarea class="form-control" rows="2">{{edit.serShortDes}}</textarea> </div>
                            </div>
                            </div>
                        <!--/row-->
                        <label class="control-label">Service Description</label>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea class="form-control" rows="7">{{edit.serDes}}</textarea>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-3">
                                <label class="control-label">Image Upload</label>
                                <div class="el-element-overlay">
                                    <div class="el-card-item">
                                        <div class="el-card-avatar el-overlay-1">
                                            <img src="{{edit.serImage}}" alt="user" />

                                        </div>
                                    </div>
                                </div>
                                <div class="btn btn-info waves-effect waves-light">
                                    <span>Upload Image   </span>
                                    <input type="file" class="upload"> </div>
                            </div>
                        </div>

                        <hr> </div>
                    <div class="form-actions m-t-40">
                      <div class="row">
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-success btn-rounded btn-lg btn-block">
                            <i class="fa fa-check"></i> Save </button>
                            </div>
                            <div class="col-md-2">
                        <button type="button" class="btn btn-dark btn-rounded btn-lg btn-block">Cancel</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
