<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h5 class="card-title">About Service</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Service Name</label>
                                    <input type="text" id="firstName" class="form-control" [(ngModel)]="edit.serName" name="name" >
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Short Description</label>
                                    <textarea class="form-control" rows="2" [(ngModel)]="edit.serShortDes" name="shortdes" value="{{edit.serShortDes}}"></textarea> </div>
                            </div>
                            </div>
                        <!--/row-->
                        <label class="control-label">Service Description</label>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea class="form-control" rows="7" [(ngModel)]="edit.serDes" name="sdes" ></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/row-->


                        <hr> </div>
                    <div class="form-actions m-t-40">
                      <div class="row">
                      <div class="col-md-2">
                        <button type="submit" (click)="editService()" class="btn btn-success btn-rounded btn-lg btn-block">
                            <i class="fa fa-check" ></i> Save </button>
                            </div>
                            <div class="col-md-2">
                        <button type="button" class="btn btn-dark btn-rounded btn-lg btn-block" (click)="openCancelDialog()">Cancel</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
