
.hideThis{
	display:none;
}

.forPetDetail{
	float: top;
}

.btnLabel{
	background-color: #fd7e14;
	color: #f8f9fa;
	font-weight: bold;
	padding: 5px 0;
	margin: 10px;
	border-radius: 5px;
}

.btnLabel:hover{
	background-color: #ffc107;
}

.form-group .btnLabel{
	padding-left:10px;
	padding-right: 10px;
}

.form-group .btnLable:hover{
	background-color: #ffc107;
}


 /* We need to use ::ng-deep to overcome view encapsulation */

  .custom-slider .ng5-slider .ng5-slider-pointer{
		/* background-color: yellow; */
		background-color: rgba(0,0,0,0);
	}
	.custom-slider .ng5-slider .ng5-slider-pointer:focus{
		/* background-color: yellow; */
		outline-color: rgba(0,0,0,0);
	}
	.custom-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active:after{
		/* background-color: yellow; */
		background-color: #ffc107;
	}
	.custom-slider .ng5-slider .ng5-slider-selection{
		background-color: #ffc107;
	}
	.custom-slider .ng5-slider .ng5-slider-pointer::after{
		content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 12px;
    border-radius: 10px;
		background-color: #ffc107;
	}

	.custom-slider .ng5-slider .ng5-slider-pointer:hover:after{
		background-color: #fd7e14;
	}
