<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h5 class="card-title">About Service</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Service Name</label>
                                    <input type="text" [(ngModel)]="Name" name="firstName" class="form-control"  placeholder=""> </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Short Description</label>
                                    <textarea name="shortdes" rows="8" cols="80" class="form-control" [(ngModel)]="ShortDes" ></textarea></div>
                            </div>
                            </div>
                        <!--/row-->
                        <label class="control-label">Service Description</label>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea name="des" class="form-control" [(ngModel)]="Des" rows="8" cols="80"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">

                            <div class="form-group" *ngIf="isReadyToUploadImage">
                              <label>Upload Image</label>
                                <div class="form-control">
                                  <ngx-file-picker [adapter]="adapter" [enableCropper]="false">
                                  </ngx-file-picker>
                                </div>
                            </div>

                        </div>

                        <hr> </div>
                    <div class="form-actions m-t-40">
                      <div class="row">
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-success btn-rounded btn-lg btn-block" name="btnSubmit" (click)="addNewService()">
                            <i class="fa fa-check"></i> Add New </button>
                            </div>
                            <div class="col-md-2">
                        <button type="button" class="btn btn-dark btn-rounded btn-lg btn-block" (click)="openCancelDialog()">Cancel</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
