<!-- <div class="col-sm-4 col-md-4"> -->
  <div class="rs-shop-box mb-5">
    <div class="media">
      <a href="shop-single.html"><img src="{{product.image}}" alt="" class="img-fluid"></a>
    </div>
    <div class="body-text">
      <h4 class="title"><a href="shop-single.html">{{product.name}}</a></h4>
      <div class="meta">
        <div class="price">${{product.price}}</div>
        <div class="rating">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
