
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Delete and update Table</h4>
                <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6>
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [settings]="settings" [source]="listProduct"
                            class="" (rowSelect)="selectedRow($event)"
                                  (editConfirm)="updateRow($event)" (deleteConfirm)="deleteRow($event)"
                                    (createConfirm)="createRow($event)">

                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row el-element-overlay">
    <div class="col-lg-3 col-md-6" *ngFor='let item of listProduct'>
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/product/shop3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="/ecom/details/{{item.ProID}}">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">{{item.ProName}}</h4>
                        <span class="text-muted">{{item.ProDes}}</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-dark btn-circle">${{item.ProPrice}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair2.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-success btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair3.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-dark btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair4.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-info btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair4.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-success btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair3.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-info btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair2.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-warning btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-secondary btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair2.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-dark btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair3.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair3.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-danger btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair4.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair4.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-success btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="assets/images/gallery/chair2.jpg" alt="user" />
                    <div class="el-overlay">
                        <ul class="list-style-none el-info">
                            <li class="el-item">
                                <a class="btn default btn-outline image-popup-vertical-fit el-link" href="assets/images/gallery/chair4.jpg">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="el-item">
                                <a class="btn default btn-outline el-link" href="javascript:void(0);">
                                    <i class="icon-link"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex no-block align-items-center">
                    <div class="m-l-15">
                        <h4 class="m-b-0">Rounded Chair</h4>
                        <span class="text-muted">globe type chair for rest</span>
                    </div>
                    <div class="ml-auto m-r-15">
                        <button type="button" class="btn btn-dark btn-circle">$15</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
