<!-- <div class="sales ct-charts mt-5">
    <x-chartist class="earnings ct-charts" [data]="lineChart.data" [type]="lineChart.type"
          [options]="lineChart.options" [responsiveOptions]="lineChart.responsiveOptions"
                  [events]="lineChart.events">
    </x-chartist>
  </div> -->


  <div class="m-t-30" style="height: 265px;" *ngIf="isShowChart">
      <ngx-charts-bar-vertical [scheme]="colorScheme" [schemeType]="schemeType" [results]="listDataForChart" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines"
          [barPadding]="60" [view]="view" [roundDomains]="roundDomains" (select)="sendSelectedProduct($event)">
      </ngx-charts-bar-vertical>
  </div>
