<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">
				<a class="btn btn-secondary mt-4 mb-4" [routerLink]="'/mainlayout/shops'">BackToShop</a>
				<div class="row">

					<div class="col-12 col-sm-6 col-md-6">

						<div class="media-detail">
							<img src="http://localhost:9090/uploadedFiles/Product/{{currentID}}/{{listImage[0]}}" alt="" class="img-fluid">
						</div>
						<div class="row mt-3">
							<div class="row popup-gallery gutter-5">
								<div class="col" *ngFor='let image of listImage' >
									<a href="http://localhost:9090/uploadedFiles/Product/{{currentID}}/{{image}}" title='{{currentProduct.proName}}'>
										<img src="http://localhost:9090/uploadedFiles/Product/{{currentID}}/{{image}}" alt="" class="border-img img-fluid" style="object-fit:cover">
									</a>
								</div>
							</div>

						</div>

					</div>


					<div class="col-12 col-sm-6 col-md-6">
						<div class="single-shop">

							<p class="title-heading text-secondary mb-1">
								{{currentProduct.proName}}
							</p>
							<div class="price">${{currentProduct.proPrice}}</div>
							<div class="rating">
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>

							<p class="mt-4">{{currentProduct.proDes}}</p>

							<p class="btn btn-primary mt-4 mb-4" (click)="buyProduct(currentProduct)" >Buy Now</p>

							<p>SKU : N/A <br>Categories : {{currentProduct.cateEntity.cateName}} <br>Product ID : {{currentProduct.proID}}</p>
							<div class="spacer-50"></div>


						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-12">

						<div class="spacer-70"></div>

						<div class="rs-tabs">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
							  </li>
							  <!-- <li class="nav-item">
							    <a class="nav-link" id="information-tab" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">Additional Information</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review (3)</a>
							  </li> -->
							</ul>
							<div class="tab-content" id="myTabContent">
								<!-- Tabs 1 -->
								<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
									<p class="uk18 text-black mb-1">
										<strong>Product Description :</strong>
									</p>
									<p>Cotton Fabric, Interfacing, Rose Gold Hardware, Yellow Gold Hardware, Silver Hardware, Plastic Hardware, Antique Bronze Hardware, Antique Silver Hardware, Matte Black Hardware, Rainbow Hardware, Iridescent Hardware
                    </p>
									<ul>
										<li>Handmade item.</li>
										<li>Our puppies deserve to be stylish too! All of our collars are handmade and customized to your specifications. Don't see a size/pattern that will work for you? We accept custom orders as well, just send us a message and we can work together to create your perfect collar :) </li>
										<li>XX-Small: 6" - 9" (recommended for dogs up to 5 pounds)
                      X-Small: 8" - 12" (recommended for dogs 5 - 10 pounds)
                      Small: 10" - 14" (recommended for dogs 10 - 25 pounds)
                      Medium: 12" - 18" (recommended for dogs up to 50 pounds)
                      Large: 16" - 24" (recommended for dogs up to 75 pounds)
                      X-Large: 20" - 30" (recommend for dogs 75+ pounds)</li>

                      <li>***The guidelines above are just general sizing recommendations. Because every dog is different, we highly recommend measuring your dog to ensure an accurate fit. Because we are not able to measure your dog ourselves, we are not responsible for inaccurate sizing. </li>

										<li>Please ensure your measurements are correct before placing your order...</li>
										<li>Ready to ship in 5–7 business days.</li>
										<li>From United States.</li>
									</ul>
								</div>
								<!-- Tabs 2 -->
								<div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
									<p class="uk18 text-black mb-1">
										<strong>Product details  :</strong>
									</p>

									<ul>
										<li>Product Dimensions: 24 x 16.8 x 14.5 inches.</li>
										<li>Shipping Weight: 5.8 pounds.</li>
										<li>Domestic Shipping: Item can be shipped within U.S.</li>
										<li>International Shipping: This item can be shipped to select countries outside of the U.S.</li>
										<li>Shipping Advisory: This item must be shipped separately from other items in your order. Additional shipping charges will not apply.</li>
										<li>Item model number: 294144.</li>
									</ul>
								</div>
								<!-- Tabs 3 -->
							  <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
								<div class="reviews">

									<!-- Item 1 -->
									<div class="media media-review">
									  <img src="assets/images/dummy-img-400x400.jpg" alt="" class="img-fluid mr-3">
									  <div class="media-body">
									    <div class="rating d-inline">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
											</div>
											<div class="rating-for d-inline ml-1">for <strong>Flexibility</strong></div>
											<div class="rating-by mb-3">by <span class="text-primary">Ernest Doel</span></div>
											<p>Vivamus urna elit, rhoncus vel fringilla ac, vestibulum non arcu. Sed quis vulputate enim. Nunc a erat sollicitudin, finibus augue vitae, facilisis turpis. Vivamus quam ex, ultricies et blandit sed, accumsan a augue. Mauris nibh leo, euismod eu vulputate et, sagittis ut nunc. Vivamus eu ultricies sapien.</p>
									  </div>
									</div>

									<!-- Item 2 -->
									<div class="media media-review">
									  <img src="images/dummy-img-400x400.jpg" alt="" class="img-fluid mr-3">
									  <div class="media-body">
									    <div class="rating d-inline">
												<span></span>
												<span></span>
												<span></span>
												<span></span>
												<span></span>
											</div>
											<div class="rating-for d-inline ml-1">for <strong>Flexibility</strong></div>
											<div class="rating-by mb-3">by <span class="text-primary">Mellisa Doel</span></div>
											<p>Vivamus urna elit, rhoncus vel fringilla ac, vestibulum non arcu. Sed quis vulputate enim. Nunc a erat sollicitudin, finibus augue vitae, facilisis turpis. Vivamus quam ex, ultricies et blandit sed, accumsan a augue. Mauris nibh leo, euismod eu vulputate et, sagittis ut nunc. Vivamus eu ultricies sapien.</p>
									  </div>
									</div>
								</div>
							  </div>
							</div>
						</div>
						<!-- end tabs -->

						<div class="leave-comment-box">

							<div class="row">

								<div class="col-sm-3 col-md-3">
									<p>Choose Rating :</p>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
									  <label class="form-check-label" for="exampleRadios1">
									    <div class="rating">
											<span></span>
										</div>
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
									  <label class="form-check-label" for="exampleRadios2">
									    <div class="rating">
											<span></span>
											<span></span>
										</div>
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
									  <label class="form-check-label" for="exampleRadios3">
									    <div class="rating">
											<span></span>
											<span></span>
											<span></span>
										</div>
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option2">
									  <label class="form-check-label" for="exampleRadios4">
									    <div class="rating">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</div>
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option2">
									  <label class="form-check-label" for="exampleRadios5">
									    <div class="rating">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
											<span></span>
										</div>
									  </label>
									</div>
								</div>
							</div>


						</div>
						<!-- end leave comment -->





					</div>
				</div>

			</div>
		</div>
	</div>
