<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form update Product</h4>
                <h6 class="card-subtitle">This is the form update page for Admin
                </h6>
                <form #productForm="ngForm">
                    <div [hidden]="productForm.submitted">

                        <div class="form-group">
                            <label for="ID">ID</label>
                            <input id="ID" name="ID" class="form-control" type ="number" [(ngModel)]="detailedProduct.ProID" disabled>

                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" name="name" class="form-control" required minlength="3" maxlength="50" [(ngModel)]="detailedProduct.ProName" #name="ngModel">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors.required"> Name is required. </div>
                                <div *ngIf="name.errors.minlength"> Name must be at least 3 characters long. </div>
                                <div *ngIf="name.errors.maxlength"> Name can not greater than 50 characters long. </div>
                                <!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input id="Description" name="Description" class="form-control" required minlength="10" maxlength="50" [(ngModel)]="detailedProduct.ProDes" #des="ngModel">
                            <div *ngIf="des.invalid && (des.dirty || des.touched)" class="alert alert-danger">
                                <div *ngIf="des.errors.required"> Description is required. </div>
                                <div *ngIf="des.errors.minlength"> Description must be at least 10 characters long. </div>
                                <div *ngIf="des.errors.maxlength"> Description can not greater than 50 characters long. </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="Price">Price</label>
                                <div class="form-control">
                                  <input style="border:none" id="Price" name="Price" class="form-control" required type ="number" min="1" max="10000" [(ngModel)]="detailedProduct.ProPrice" #price ="ngModel">
                                  <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                                      <div *ngIf="price.errors.required"> Price is required. </div>
                                      <div *ngIf="price.errors.min"> Price must be greater than 0. </div>
                                      <div *ngIf="price.errors.max"> Description can not greater than 10000. </div>
                                  </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                                <label for="Color">Color</label>
                                <div class="form-control">
                                  <input style="border:none" id="Color" name="Color" class="form-control" required minlength="2" maxlength="20" [(ngModel)]="detailedProduct.ProColor" #Color="ngModel">
                                  <div *ngIf="Color.invalid && (Color.dirty || Color.touched)" class="alert alert-danger">
                                      <div *ngIf="Color.errors.required"> Color is required. </div>
                                      <div *ngIf="Color.errors.minlength"> Color must be at least 2 characters long. </div>
                                      <div *ngIf="Color.errors.maxlength"> Color can not greater than 20 characters long. </div>
                                      <!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
                                  </div>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">

                                  <label for="status" style="margin-left:10px;">Status</label>
                                  <div class="form-control">
                                    <input id="status" name="status" type="checkbox" [(ngModel)]="detailedProduct.Status" style="margin-left:10px;">
                                    <span class="btn btn-success" *ngIf="detailedProduct.Status" style="margin-left:10px;" >Activated</span>
                                    <span class="btn btn-dark" *ngIf="!detailedProduct.Status" style="margin-left:10px;">Deactivated</span>
                                </div>
                            </div>
                          </div>

                        </div>

                        <div class="form-group">
                            <label for="cateID">CateID</label>
                            <div class="form-control">
                              <input style="border:none" id="cateID" name="cateID" class="form-control" required type ="number" min="1" max="10000" [(ngModel)]="detailedProduct.cateEntity.CateID" #cateID ="ngModel">
                              <div *ngIf="cateID.invalid && (cateID.dirty || cateID.touched)" class="alert alert-danger">
                                  <div *ngIf="cateID.errors.required"> CateID is required. </div>
                                  <div *ngIf="cateID.errors.min"> CateID must be greater than 0. </div>
                                  <div *ngIf="cateID.errors.max"> CateID can not greater than 10000. </div>
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Image upload</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                                <input type="file" class="btn">
                            </div>

                        </div>

                        <button type="submit" class="btn btn-danger" [disabled]="productForm.invalid">Update</button>
                        <button type="button" class="btn btn-inverse" (click)="productForm.resetForm({})">Reset</button>

                    </div>
                    <div class="submitted-message" *ngIf="productForm.submitted">
                        <p>You've submitted your hero, {{ productForm.value.name }}!</p>
                        <button class="btn btn-inverse" (click)="productForm.resetForm({})">Add new hero</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
