<div class="shop-sidebar">
  <!-- Item 1 -->
  <div class="shop-item-sidebar" *ngFor="let pet of listPet">

      <div class="media" style="border:none;">
        <img src="http://localhost:9090/uploadedFiles/Pet/{{pet.petID}}/{{pet.petListImage[0]}}"
                alt=""  >
      </div>
      <div class="body-text">
        <h4 class="title"><a href="shop-single.html">{{pet.petName}}</a></h4>
        <!-- <div class="price">{{pet.petBreed}}</div> -->
        <!-- phan nay de lay request -->
        <div class="price">0 Request</div>
      </div>

  </div>

</div>
