
	<!-- BANNER -->
	<div class="section banner-page" data-background="assets/images/topseller1920x300.jpg">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-2">
				<div class="title-page"></div>
			</div>
			<p class="text-center text-white">Your pet's health and well-being are our top priority.</p>
		</div>
	</div>

	<!-- BREADCRUMB -->
	<div class="section bg-breadcrumb">
		<div class="content-wrap py-0 pos-relative">
			<div class="container">
			    <nav aria-label="breadcrumb">
				  <ol class="breadcrumb ">
				    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
				    <li class="breadcrumb-item"><a href="index.html">Pages</a></li>
				    <li class="breadcrumb-item active" aria-current="page">TopSeller</li>
				  </ol>
				</nav>
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							TOP SELLER
						</h2>
						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
					</div>
				</div>

				<div class="row mt-4">

					<!-- Item 1 -->
          <div class="col-sm-4 col-md-3">
            <div class="rs-shop-box mb-5">
              <div class="media">
                <a href="shop-single.html"><img src="assets/images/shop1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="body-text">
                <h4 class="title"><a href="shop-single.html">Cat & Small Dog Carrier</a></h4>
                <div class="meta">
                  <div class="price">$29</div>
                  <div class="rating">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>


					<!-- Item 2 -->
          <div class="col-sm-4 col-md-3">
            <div class="rs-shop-box mb-5">
              <div class="media">
                <a href="shop-single.html"><img src="assets/images/shop2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="body-text">
                <h4 class="title"><a href="shop-single.html">Traveller Pet Carrier</a></h4>
                <div class="meta">
                  <div class="price">$59</div>
                  <div class="rating">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
					<!-- Item 3 -->
          <div class="col-sm-4 col-md-3">
            <div class="rs-shop-box mb-5">
              <div class="media">
                <a href="shop-single.html"><img src="assets/images/shop3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="body-text">
                <h4 class="title"><a href="shop-single.html">Leather Belt Pink</a></h4>
                <div class="meta">
                  <div class="price">$29</div>
                  <div class="rating">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

					<!-- Item 4 -->
          <div class="col-sm-4 col-md-3">
            <div class="rs-shop-box mb-5">
              <div class="media">
                <a href="shop-single.html"><img src="assets/images/shop4.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="body-text">
                <h4 class="title"><a href="shop-single.html">Healthy Food</a></h4>
                <div class="meta">
                  <div class="price">$79</div>
                  <div class="rating">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

				</div>

			</div>
		</div>
	</div>
