.el-element-overlay .el-card-item .el-overlay-1 img{
  object-fit: cover;
  height: 350px;
}

.el-element-overlay .el-card-item .el-overlay-1{
  /* padding-top: 75%; */
}

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  /* background-image: linear-gradient(to bottom, transparent, black); */
}
