<style>
		.slidecontainer {
		  width: 100%;
		}

		.slider {
		  -webkit-appearance: none;
		  width: 100%;
		  height: 15px;
		  border-radius: 5px;
		  background: #d3d3d3;
		  outline: none;
		  opacity: 0.7;
		  -webkit-transition: .2s;
		  transition: opacity .2s;
		}

		.slider:hover {
		  opacity: 1;
		}

		.slider::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  appearance: none;
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  background: #F7941D;
		  cursor: pointer;
		}

		.slider::-moz-range-thumb {
		  width: 25px;
		  height: 25px;
		  border-radius: 50%;
		  background: #F7941D;
		  cursor: pointer;
		}
		</style>

		<style>
			.dropbtn {
			  background-color: #4CAF50;
			  color: white;
			  padding: 16px;
			  font-size: 16px;
			  border: none;
			  cursor: pointer;
			}

			.dropbtn:hover, .dropbtn:focus {
			  background-color: #3e8e41;
			}

			#myInput {
			  border-box: box-sizing;
			  background-image: url('searchicon.png');
			  background-position: 14px 12px;
			  background-repeat: no-repeat;
			  font-size: 16px;
			  padding: 14px 20px 12px 45px;
			  border: none;
			  border-bottom: 1px solid #ddd;
			}

			#myInput:focus {outline: 3px solid #ddd;}

			.dropdown {
			  position: relative;
			  display: inline-block;
			}

			.dropdown-content {
			  display: none;
			  position: absolute;
			  background-color: #f6f6f6;
			  min-width: 230px;
			  overflow: auto;
			  border: 1px solid #ddd;
			  z-index: 1;
			}

			.dropdown-content a {
			  color: black;
			  padding: 12px 16px;
			  text-decoration: none;
			  display: block;
			}

			.dropdown a:hover {background-color: #ddd;}

			.show {display: block;}
			</style>
<!-- CONTENT -->
<div id="class" class="">
  <div class="content-wrap">
    <div class="container">

      <div class="row">

        <div class="col-12 col-sm-3 col-md-3">
          <!-- search -->
          <div class="widget categories">
							<div class="widget-title">
									Search
									<span class="fa fa-search"></span>
							</div>
							<div class="category-nav">
								<form class="form-contact">
									<input class="form-control" type="text" placeholder="Search Name Product"/>
								</form>
							</div>
							<div class="widget-title">
								Filter
							</div>
							<ul class="category-nav">

								<li>
									<hr>
								</li>

								<li>
									<a href="#">Price <span id="demo" style="color: #F7941D"></span></a>
									<div class="slidecontainer">
									  <input type="range" min="1" max="10" value="5" step="1" class="slider" id="myRange">
									</div>
								</li>

							</ul>
						</div>



          <div class="widget categories">
            <div class="widget-title">
              Galleries
            </div>
            <ul class="category-nav">
              <li><a href="#">Foods</a></li>
              <li><a href="#">Toys</a></li>
              <li><a href="#">Outfits</a></li>
            </ul>
          </div>

          <div class="widget widget-text">
            <div class="widget-title">
              Top Seller
            </div>
            <div class="shop-sidebar">
              <!-- Item 1 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller1.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Leather Belt</a></h4>
                  <div class="price">$12</div>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller2.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Traveller Carrier</a></h4>
                  <div class="price">$59</div>
                </div>
              </div>
              <!-- Item 3 -->
              <div class="shop-item-sidebar">
                <div class="media">
                  <img src="assets/images/topseller3.jpg" alt="" class="img-fluid">
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Healthy Food</a></h4>
                  <div class="price">$79</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end sidebar -->

        <div class="col-12 col-sm-9 col-md-9">

          <div class="row">
            <!-- Item 1 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop1.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Cat & Small Dog Carrier</a></h4>
                  <div class="meta">
                    <div class="price">$29</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop2.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Traveller Pet Carrier</a></h4>
                  <div class="meta">
                    <div class="price">$59</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop3.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Leather Belt Pink</a></h4>
                  <div class="meta">
                    <div class="price">$29</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item 4 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop4.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Healthy Food</a></h4>
                  <div class="meta">
                    <div class="price">$79</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item 5 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop5.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Big Carrier</a></h4>
                  <div class="meta">
                    <div class="price">$59</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item 6 -->
            <div class="col-sm-4 col-md-4">
              <div class="rs-shop-box mb-5">
                <div class="media">
                  <a href="shop-single.html"><img src="assets/images/shop6.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="body-text">
                  <h4 class="title"><a href="shop-single.html">Blank Leather Belt</a></h4>
                  <div class="meta">
                    <div class="price">$12</div>
                    <div class="rating">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- end shop -->

          <div class="row">
            <div class="col-sm-12 col-md-12">

              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>

            </div>
          </div>



        </div>

      </div>

    </div>
  </div>
</div>
