<div class="section bgi-cover-center" data-background="assets/images/dummy-img-1920x900-3.jpg">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="wrap-form">
            <h2 class="text-primary mb-2">
              Do Pets Have Allergies?
            </h2>
            <p class="uk21 text-white">We are pets clinic dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <p class="text-white">Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.</p>
            <div class="spacer-30"></div>
            <a href="#" class="btn btn-primary">Learn More</a>
            <div class="spacer-30"></div>
            <div class="row">
              <div class="col-sm-8 col-md-8">
                <div class="img-video">
                  <a href="https://www.youtube.com/watch?v=vNDrLjOmUY4" class="popup-youtube play-video"><i class="fa fa-play fa-2x"></i></a>
                  <img src="assets/images/dummy-img-600x400.jpg" alt="" class="shadow img-fluid">
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
