<!-- <div id="class" class="">
		<div class="content-wrap">
			<div class="container"> -->

				<div class="row" *ngIf="currentDating.petRequestEntity">

					<div class="col-12 col-sm-6 col-md-6">

						<div class="media-detail">
							<img src="http://localhost:9090/uploadedFiles/Pet/{{currentDating.petRequestEntity.petID}}/{{currentDating.petRequestEntity.petListImage[0]}}" alt="" class="img-fluid">
						</div>
            <div class="row mt-3">
							<div class="row popup-gallery gutter-5">
								<div class="col">
									<a href="http://localhost:9090/uploadedFiles/Pet/{{currentDating.petRequestEntity.petID}}/{{currentDating.petRequestEntity.petListImage[0]}}" title='abc'>
										<img src="http://localhost:9090/uploadedFiles/Pet/{{currentDating.petRequestEntity.petID}}/{{currentDating.petRequestEntity.petListImage[0]}}" alt="" class="border-img img-fluid">
									</a>
								</div>
							</div>
						</div>

					</div>


					<div class="col-12 col-sm-6 col-md-6">
						<div class="single-shop">

							<p class="title-heading text-secondary mb-1">
								{{currentDating.petRequestEntity.petName}}
							</p>
							<div class="price">Dating: ${{currentDating.petRequestEntity.petPrice}}</div>
							<div class="price">
								{{currentDating.petRequestEntity.petBreed}}
							</div>

							<p class="mt-4">{{currentDating.petRequestEntity.petStory}}</p>


							<a href="#requestDating" class="btn btn-primary mt-4 mb-4">Update Information</a><br>
							<a href="#requestDating" class="btn btn-primary mt-4 mb-4">Remove Your Pet</a><br>


							<div class="spacer-50"></div>


						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-12">


						<div class="spacer-70"></div>

						<div class="rs-tabs">
							<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">MinMin</a>
							  </li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<!-- Tabs 1 -->
								<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
									<p class="uk18 text-black mb-1">
										<strong>About MinMin :</strong>
									</p>
									<p>MinMin is small-to-medium-sized, omnivorous mammals belonging to several genera of the family Canidae. Foxes have a flattened skull, upright triangular ears, a pointed, slightly upturned snout, and a long bushy tail</p>
									<ul>
										<li>Min is A cute foxie</li>
										<li>His parents are foxies too</li>
										<li>He loves outdoor activities</li>
									</ul>
								</div>

							</div>
						</div>
						<!-- end tabs -->


						<!-- <div id="requestDating"></div>
						<div class="leave-comment-box" >
							<h4 class="title-heading">Request Dating</h4>
							<div class="row">
								<div class="col-sm-9 col-md-9">
									<form action="#" class="form-comment">
										<div class="row">

											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Location">
												</div>
											</div>
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Date/Time">
												</div>
											</div>
											<div class="col-xs-12 col-md-12">
												<div class="form-group">
													<button id="send" type="submit" class="btn btn-primary">Send Dating Request</button>
												</div>
											</div>
										</div>
									</form>
								</div>

							</div>


						</div> -->


						<!-- end leave comment -->

						<!-- end leave comment -->


					</div>

				</div>

			<!-- </div>
		</div>
	</div> -->
