<div class="">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h2 class="section-heading text-center text-primary no-after mb-5">
            From Our Articles
          </h2>
          <p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
        </div>
      </div>

      <div class="row mt-4">

        <!-- Item 1 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="rs-news-1 mb-5">
            <div class="media">
              <a href="blog-single.html">
                <img src="assets/images/dummy-img-600x400.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="body">
              <div class="title"><a href="blog-single.html">Dog sitting on the floor</a></div>
              <div class="meta-date">May 12, 2017</div>
              <p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="rs-news-1 mb-5">
            <div class="media">
              <a href="blog-single.html">
                <img src="assets/images/dummy-img-600x400.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="body">
              <div class="title"><a href="blog-single.html">Persian Cat with new</a></div>
              <div class="meta-date">May 12, 2017</div>
              <p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="rs-news-1 mb-5">
            <div class="media">
              <a href="blog-single.html">
                <img src="assets/images/dummy-img-600x400.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="body">
              <div class="title"><a href="blog-single.html">Make pet comportable</a></div>
              <div class="meta-date">May 12, 2017</div>
              <p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>
            </div>
          </div>
        </div>

      </div>

      <div class="spacer-70"></div>

    </div>
  </div>
</div>
