<div class="rs-shop-box mb-5">
  <div class="media">
    <a href="shop-single.html"><img src="{{inputService.SerImage}}" alt="" class="img-fluid"></a>
  </div>
  <div class="body-text">
    <h4 class="title"><a href="shop-single.html">{{inputService.SerName}}</a></h4>
    <div class="meta">
      <div class="price">${{inputService.SerDes}}</div>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
