<!-- <div class="rs-shop-box mb-5">
  <div class="media">
    <a href="shop-single.html"><img src="{{inputService.serImage}}" alt="" class="img-fluid"></a>
  </div>
  <div class="body-text">
    <h4 class="title"><a href="shop-single.html">{{inputService.serName}}</a></h4>
    <div class="meta">
      <div class="price">${{inputService.serDes}}</div>
      <div class="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
 -->



  <div class="rs-image-box">
    <div class="media">
      <a routerLink="/mainlayout/services/{{inputService.serID}}"><img src="{{inputService.serImage}}" alt="" class="img-fluid"></a>
    </div>
    <div class="body-text">
      <h3 class="title"><a routerLink="/mainlayout/services/{{inputService.serID}}">{{inputService.serName}}</a></h3>
      {{inputService.serShortDes}}
    </div>
  </div>
