<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{detail.serName}}</h2>
                  <h6 class="card-subtitle">{{detail.serShortDes}}</h6>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="white-box text-center">
                            <img src="http://localhost:9090/uploadedFiles/Service/{{detail.serID}}/{{serListImage[0]}}" class="img-fluid"> </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h2 class="box-title m-t-40">Service description</h2>
                        <h4>{{detail.serDes}}</h4>
                        <!-- <h2 class="m-t-40">$153
                            <small class="text-success">(36% off)</small>
                        </h2> -->
                        <div class="row">
                        <div class="col-sm-2">
                        <a href="#/service/edit/{{detail.serID}}"> <button class="btn btn-info btn-rounded btn-md btn-block" data-toggle="tooltip" title="" data-original-title="Delete" > Edit </button> </a>
                        </div>
                        <div class="col-sm-2">
                        <button class="btn btn-danger btn-rounded btn-md  btn-block" (click)="openDeleteDialog()"> Delete </button>
                        </div>
                        </div>
                        <!-- <h3 class="box-title m-t-40">Key Highlights</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-check text-success"></i> Sturdy structure</li>
                            <li>
                                <i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                            <li>
                                <i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li>
                        </ul> -->


                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
