<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">


					<div class="col-sm-12 col-md-12">
						<p class="title-heading text-primary mb-5">
							Request an Appointment
						</p>
						<p class="subheading">Please enter your name, your email address and phone number to get started. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat.</p>
					</div>
				</div>
					<!-- Item 1 -->


				<div class="row">
					<div class="col-sm-12 col-md-8">

						<form action="#" class="form-contact" id="contactForm" data-toggle="validator" novalidate="true">
							<div class="row">

								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" [(ngModel)]='userdetail.userName' disabled="true" name="ownername" id="p_name"  required="">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<!-- <input type="text" class="form-control" id="p_phone" [(ngModel)]="selectedPet.petDOB" name="petAge"  placeholder="pet Age"> -->
													<input type="number" class="form-control" name="phone" [(ngModel)]="userdetail.userTel" disabled="true" id="p_phone" placeholder="Enter Phone Number">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<!-- <div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="p_email" name="petname" placeholder="Pet Name" required="">
										<div class="help-block with-errors"></div>
									</div>
								</div> -->

                <div class="col-sm-6 col-md-12">
									<div class="form-group">
										<select name ="listPet" [(ngModel)]="tempID" (ngModelChange)="setPet($event)" value="name" style="border:1px solid" >
												<option *ngFor="let pet of myListPet" [ngValue]="pet.petID" >
														{{pet.petName}}
												</option>
										</select>
									</div>
                </div>

								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="p_subject" [(ngModel)]="selectedPet.petBreed" name="petBreed" placeholder="Pet Breed">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<select name ="listService" [(ngModel)]="selectedService.serID"  value="name" style="border:1px solid" >
												<option *ngFor="let ser of listservice" [value]="ser.serID" >
														{{ser.serName}}
												</option>
										</select>
									</div>
                </div>


                <div class="col-sm-6 col-md-12">
                  <div class="form-group">
										<input type="text" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Dating Date/Time" [(ngModel)]="booknewService.bookingDate">
										<owl-date-time #dt1></owl-date-time>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>



							</div>
							<div class="form-group">
								 <textarea id="p_message" class="form-control" rows="6" id="message" name="nessage" [(ngModel)]="booknewService.message" placeholder="Enter Your Message"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<div id="success"></div>
								<button type="submit" class="btn btn-primary" (click)="createBooking()">Request Appointment</button>
							</div>
						</form>
						<div class="margin-bottom-50"></div>
						<p><em>We will call you back to confirm your appointment, after you've request an appointment.</em></p>

					</div>
					<div class="col-sm-4 col-md-4">
						<img src="assets/images/dummy-img-600x700-APPOINTMENT.jpg" alt="" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
