<!-- CONTENT -->
	<div id="class" class="">
		<div class="content-wrap">
			<div class="container">

				<div class="row">


					<div class="col-sm-12 col-md-12">
						<p class="title-heading text-primary mb-5">
							Request an Appointment
						</p>
						<p class="subheading">Please enter your name, your email address and phone number. We will contact you back as soon as possible.</p>
					</div>
				</div>
					<!-- Item 1 -->


				<div class="row">
					<div class="col-sm-12 col-md-8">

						<form #bookserviceForm="ngForm" >
							<div class="row">

								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" [(ngModel)]='userdetail.userName' disabled="true" name="ownername" id="p_name"  required>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<!-- <input type="text" class="form-control" id="p_phone" [(ngModel)]="selectedPet.petDOB" name="petAge"  placeholder="pet Age"> -->
													<input type="number" class="form-control" name="phone"  required [(ngModel)]="userdetail.userTel" disabled="true" id="p_phone" placeholder="Enter Phone Number">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<!-- <div class="col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="p_email" name="petname" placeholder="Pet Name" required="">
										<div class="help-block with-errors"></div>
									</div>
								</div> -->

                <div class="col-sm-6 col-md-12">
									<div class="form-group">
										<select name ="listPet"  [(ngModel)]="tempID" required (ngModelChange)="setPet($event)" class="form-control"  #name="ngModel">
												<option value="undefined" hidden>Pet Name</option>
												<option  *ngFor="let pet of myListPet" [ngValue]="pet.petID" >
														{{pet.petName}}
												</option>
										</select>
										<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
													<div *ngIf="name.errors.required"> Please select a Pet. </div>
													<!-- <div *ngIf="name.errors.minlength"> Name must be at least 3 characters long. </div>
													<div *ngIf="name.errors.maxlength"> Name can not greater than 50 characters long. </div> -->
										<!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
										</div>

									</div>
                </div>

								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="def" [(ngModel)]="selectedPet.petBreed" disabled="true"  name="petBreed" placeholder="Pet Breed">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-sm-6 col-md-12">
									<div class="form-group">
										<select class="form-control" name ="listService" required  [(ngModel)]="sertempID" (ngModelChange)="setSelectedService($event)"  #servicename="ngModel">
												<option id="abc" value="undefined" hidden>Select Service</option>
												<option *ngFor="let ser of filterActiveService()" [ngValue]="ser.serID" >
														{{ser.serName}}
												</option>
										</select>
										<div *ngIf="servicename.invalid && (servicename.dirty || servicename.touched)" class="alert alert-danger">
													<div *ngIf="servicename.errors.required"> Please select a service. </div>
													<!-- <div *ngIf="name.errors.minlength"> Name must be at least 3 characters long. </div>
													<div *ngIf="name.errors.maxlength"> Name can not greater than 50 characters long. </div> -->
										<!-- <div *ngIf="name.errors.forbiddenName"> Name cannot be Bob. </div> -->
										</div>
									</div>
                </div>


                <div class="col-sm-6 col-md-12">
                  <div class="form-group">
										<input type="text" [owlDateTime]="dt3" required [owlDateTimeTrigger]="dt3" [min]="min" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Service Date/Time" [(ngModel)]="selectedBMDate">
										<owl-date-time  #dt3	></owl-date-time>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>



							</div>
							<div class="form-group">
								 <textarea id="p_message" class="form-control"  rows="6" id="message" name="nessage" [(ngModel)]="selectedMessage" placeholder="Enter Your Message"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<div id="success"></div>
								<button type="submit" class="btn btn-info btn-rounded" [disabled]="bookserviceForm.invalid" (click)="addtoCart()">Request Appointment</button>
							</div>
							<div class="form-group">
								<div *ngIf="bookSuccess"><h4>Request successfully. Your booking will be confirmed only when you click "Confirm Booking"</h4>
									<p>We will call you back to confirm your appointment, after you've request an appointment.</p>
									</div>
								<div id="success"></div>
								<button type="submited" class="btn btn-primary" [disabled]="!acceptTobook" (click)="createBooking()">Confirm Booking</button>
							</div>
						</form>
						<div class="margin-bottom-50"></div>


					</div>
					<div class="col-sm-4 col-md-4">
						<img src="assets/images/dummy-img-600x700-APPOINTMENT.jpg" alt="" class="img-fluid">
					</div>
					<div *ngIf="listBookingDetail?.length == 1 "><h4>There is {{listBookingDetail?.length}} service waiting for being confirmed </h4></div>
					<div *ngIf="listBookingDetail?.length > 1 "><h4>There are {{listBookingDetail?.length}} services waiting for being confirmed</h4></div>
				</div>
						<app-service-cart></app-service-cart>
			</div>
		</div>
	</div>
